<ion-view title="{{vm.teamName}}" ng-controller="teamDetailCtrl as vm">
	<ion-content class="has-header">
		
		<div class="card">
			 <ion-item class="item-button-right icon-left">
				<h2>Record: {{vm.teamStanding.wins}}-{{vm.teamStanding.losses}}</h2>
				
				<button class="button button-positive" ng-click="vm.toggleFollow()"
					ng-class="{'ion-checkmark-round':vm.following, 'ion-plus-round button-outline': !vm.following}">
					{{vm.following ? 'Following' : 'Not Following'}}					
				</button>
			</ion-item> 	
			
		</div>
		
		<ion-list>
			<a class="item item-icon-right" ng-repeat="game in vm.games" 
				ui-sref="app.game({ id: game.gameId })">
				
				<div class="row">
					<div class="col-20 col-center">						
						<p>{{game.time | date:'M/d/yy'}}</p>
						<p>{{game.time | date:'shortTime'}}</p>
					</div>
					<div class="col col-center">
						<h3>{{game.homeAway}} {{game.opponent}}</h3>
						<p>{{game.location}}</p>
					</div>
					<div class="col-20 col-center">
						<h4 class="positive">{{game.scoreDisplay}}</h4>
					</div>
				</div>
				
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</ion-list>
	</ion-content>
</ion-view>